<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Clients Section</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
</head>
<body>


<form action="" class="mt-5">
    <h2>Powering worldclass companies</h2>
    <div class="row">
        <div class="col">
            <label for="fname" class="form-label">Firstname</label>
            <input type="text" class="form-control" placeholder="Enter your firstname">
        </div>
        <div class="col">
            <label for="lname" class="form-label">Lastname</label>
            <input type="text" class="form-control" placeholder="Enter your lastname">
        </div>
    </div>

    <br>

    <div class="row mt-3">
         <div class="col">
            <label for="email" class="form-label">Business Email</label>
            <input type="email" id="email" class="form-control" >
        </div>
         <div class="col">
            <label for="lname" class="form-label">Phone Number</label><br>
            <input type="tel" class="form-control" >
        </div>
    </div>
    <br>

    <div class="mt-3">
            <label for="job" class="form-label">Job Title</label>
            <input type="text" id="job" class="form-control">
    </div>

    <div class="mt-5">
            <label for="message" class="form-label">What would you be using Flinks for?</label>
            <input type="text" id="message" class="form-control">
    </div>

    <div class="mt-5">
        <button class="btn btn-primary">REQUEST A DEMO</button>
    </div>











</form>










</body>
</html>