<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
</head>
<body>

<h1>GALLERY SECTION</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam consectetur consequatur cumque delectus, eveniet iure nulla, optio pariatur quam quas quo rem, sapiente sit unde velit vero voluptate voluptatum?</span><span>Amet aperiam deleniti dolor ea eaque eos exercitationem fugit, harum impedit in itaque iure libero mollitia neque, pariatur quia sed sit, veritatis. Iste libero magni nulla obcaecati porro quasi tempora?</span><span>Ab aliquid commodi culpa cum delectus doloremque illo impedit laborum laudantium, minus nemo nobis pariatur quas quia reprehenderit soluta tempore totam ut vel voluptatem! Autem consequatur nostrum reiciendis temporibus vitae?</span></p>



<img src="{% static 'assets/images/mages 2.jpeg' %}" alt="">
<img src="{% static 'assets/images/mages 4.jpeg' %}" alt="">
<img src="{% static 'assets/images/mages 5.jpeg' %}" alt="">
<img src="{% static 'assets/images/mages 6.jpeg' %}" alt="">
<img src="{% static 'assets/images/mages 2.jpeg' %}" alt="">










</body>
</html>