<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Table</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
</head>
<body>
<table>
<tr>
    <th>#</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Avatar</th>
    <th>Edit</th>
    <th>Delete</th>
</tr>

<tr>
    <td>1</td>
    <td>Mark</td>
    <td>Bluith</td>
    <td><img src="{% static 'assets/images/per 1.jpeg' %}" alt=""></td>
    <td><button class="btn1">Edit</button></td>
    <td><button class="btn2">Delete</button></td>
</tr>

<tr>
    <td>2</td>
    <td>Lucille</td>
    <td>Bluth</td>
    <td><img src="{% static 'assets/images/per 2.jpeg' %}" alt=""></td>
    <td><button class="btn1">Edit</button></td>
    <td><button class="btn2">Delete</button></td>
</tr>

<tr>
    <td>3</td>
    <td>Hannah</td>
    <td>Bluth</td>
    <td><img src="{% static 'assets/images/per 3.jpeg' %}" alt=""></td>
    <td><button class="btn1">Edit</button></td>
    <td><button class="btn2">Delete</button></td>
</tr>

</table>








</body>
</html>